.css-1o521gq {
    position: relative;
    padding-top: 100%;
    padding-bottom: 2.25em;
}

.css-1ob7dfu {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.css-mes92c {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.css-vrly31 {
    box-sizing: border-box;
    position: relative;
    border-width: 1px;
    padding-top: 100%;
}

.css-1kw1re2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.css-gg3rpm::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
}

.css-gg3rpm::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: none;
    box-shadow: none;
}

.css-nk1amc {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    width: 100%;
    justify-content: center;
}

.css-np4ww0 {
    outline: 0 !important;
    transform: var(--tw-transform);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    width: 100%;
    max-width: 32rem;
    border: 3px solid;
    border-radius: 0.375rem;
    --tw-border-opacity: 1;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-color: rgba(250, 250, 250, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    height: 100%;
}

.css-j5vjle {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: inherit;
    line-height: inherit;
    text-align: left;
    --tw-bg-opacity: 1;
    outline: 0 !important;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
    position: relative;
    overflow: hidden;
}

.css-y297zm {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.css-15ndyqd {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.css-79ar9w {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    z-index: 30;
    display: flex;
    opacity: 0.75;
    direction: ltr;
    margin: 0;
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.css-79ar9w>svg {
    direction: ltr;
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    cursor: pointer;
    color: rgb(0, 0, 0);
    fill: rgb(255, 255, 255);
    height: 24;
    width: 24;
    display: block;
    position: relative;
}

.css-79ar9w>svg>polyline {
    direction: ltr;
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    cursor: pointer;
    fill: none;
    stroke: currentcolor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}

.css-79ar9w>svg>line {
    direction: ltr;
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    cursor: pointer;
    fill: none;
    stroke: currentcolor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}